* {
 margin : 0;
 padding : 0;
}

body {
	background-color : #fff;
	padding : 3% 0 0 0;
	text-align : center;
	font-family : 'Open Sans', Helvetica, Arial;
	color : #151515;
}

h1, h2 { position : absolute; left : -9999px; }

#task {
	margin : 0 auto .5em auto;
	font-weight : normal;
	font-size : 3em;
	text-align : center;
	width : 100%;
	outline : none;
	width : 70%;
	padding : 1em;
	border : none;
	outline : none;
	letter-spacing : -2px;
}

p { color : #ccc; font-size : 28px; text-align : center; width : 100%; margin-top : 100px; }

a:link,
a:visited { color : #999; text-decoration : none;}
a:hover,
a:active {  color : #666; }

canvas {
	margin : 0 auto 0 auto;
}

#time {
	font-size : 2.5em;
	background-color : #ccc;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	color : #fff;
	margin : 0 auto 0 auto;
	line-height : 200px;
	-moz-user-select: transparent;
	-webkit-user-select: transparent;	
	user-selct : transparent;
	cursor : pointer;
	letter-spacing : -1px;
	font-weight : normal;
}

#time {
	transition: background-color 1s;
	-moz-transition: background-color 1s; /* Firefox 4 */
	-webkit-transition: background-color 1s; /* Safari and Chrome */
	-o-transition: background-color 1s; /* Opera */
}

#time input {
	border : 2px solid red;
}

footer {
	position : absolute;
	bottom : 1.5em;
	font-size : 1.2em;
	text-decoration : none;	
	text-align : center;
	display : block;
	width : 100%;
}

footer a:link,
footer a:visited {	
	color : #000;
}

footer a:hover,
foooter a:active {
	text-decoration : none;
	color : green;
}

.control {
	position : absolute;
	left : 0;
	bottom : 0;
	padding : 1em;
	color : #fff;
	display : inline-block;
	font-size : 1.2em;
	cursor : pointer;
}

.control:hover {
	color : #ccc;
}

#clear {
	left : auto;
	right : 1em;
}